// colors
$main-color: #23997D;
$dark-color: #07192F;
$text-color: #07192F;
$light-bg: #EBF4FF;
$gray-color: #A9A7A7;
$white: #ffffff;

// fonts
$main-font: 'Manrope', sans-serif;
$heading-font: 'Roboto', sans-serif;