$main-color: #23997D;
$bg-dark: #07192F;
$bg-darker: #000F22;
$text-light: #ffffff;
$text-muted-color: #A9A7A7;
$card-bg: #0C2038;

$main-font: 'Manrope', sans-serif;
$heading-font: 'Roboto', sans-serif;